@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.reveal * {
	font-family: 'Montserrat', sans-serif !important;
}
